extends layout

block javascript
    script(type='text/javascript', src='/js/bootstrap-tagsinput.min.js')
    script(type='text/javascript', src='/js/typeahead.js')
    script.
        $("#votifier").change(function () {
            $(".votifier").slideToggle(this.checked);
            $('[name="votifier_ip"]').prop('required', this.checked);
            $('[name="votifier_port"]').prop('required', this.checked);
            $('[name="votifier_key"]').prop('required', this.checked);
        })
        var games = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '/data/minigames.json',
                filter: function (list) {
                    return $.map(list, function (game) {
                        return { name: game };
                    });
                }
            }
        });
        games.initialize();

        $('#games').tagsinput({
            typeaheadjs: {
                name: 'games',
                displayKey: 'name',
                valueKey: 'name',
                source: games.ttAdapter()
            },
            maxTags: 5,
            allowDuplicates: false
        });
        $('.bootstrap-tagsinput input').on('keypress', function (e) {
            if (e.keyCode == 13) {
                e.keyCode = 188;
                e.preventDefault();
            }
        });

block css
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-tagsinput.css')
    style.
        /*noinspection CssUnknownTarget*/
        #main {
            background: url('/img/08.jpg') repeat-x;
        }

block content
    .container
        .section-title
            h3.text-center Edit #{server.name}
            hr
        .space
        .row
            .col-md-6.col-md-offset-3
                form(action='/server/' + server._id  +'/edit', method='POST')
                    .form-group
                        input.form-control(type='text', placeholder='Server Name', required=true, name='name', value=server.name)
                    .form-group
                        input.form-control(type='text', placeholder='Server IP', required=true, name='ip', value=server.ip)
                    .form-group
                        input.form-control(type='number', placeholder='Server Port (Optional)', name='port', value=(server.port === 25565 ? undefined : server.port))
                    .form-group
                        textarea.form-control(rows='4', placeholder='Server Description', required=true, name='description')
                            | #{server.description}
                    .form-group
                        input.form-control(type='text', placeholder='Youtube Trailer (Optional)', name='youtube', value=server.youtube)
                    // Votifier
                    .checkbox
                        label
                            input#votifier(type="checkbox", value=(server.votifier_ip && server.votifier_key))
                            | Activate Votifier
                    .votifier(style='display: none')
                        .form-group
                            input.form-control(type='text', placeholder='IP', name='votifier_ip', value=server.votifier_ip)
                        .form-group
                            input.form-control(type='number', placeholder='Port', name='votifier_port', value=server.votifier_port)
                        .form-group
                            textarea.form-control(rows='4', placeholder='Votifier Public Key', name='votifier_key')
                                | #{server.votifier_key}
                    .form-group
                        p Premium Type
                        select.form-control(name='type', required=true)
                            option(value='0', selected=(server.type === 0)) No premium
                            option(value='1', selected=(server.type === 1)) Semi-premium
                            option(value='2', selected=(server.type === 2)) Premium Only
                    .form-group
                        p Labels (Maximum of 5 labels)
                        input#games(type='text', data-role="tagsinput", name='games', value=server.games.join(','))
                    .form-group
                        | !{captcha}
                    button.btn.btn-primary.my-btn.dark(type='submit') Submit
